.timeline_container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: #fff;
    div{
        width: 100%;
    }
}

.timeline_nodes_list{
    width: 40%;
    // width: max-content;
    list-style: none;
    position: absolute;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.node_container:hover{
    h2{
        display: block;
        text-align: center;
        font-family: var(--fs-montserrat-300);
        bottom: -2rem;
        font-size: 12px;
        width: 25ch;
        font-weight: 300;
    }
}
.node_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        display: none;
        position: absolute;
        color: white;
    }
    .node{
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        h3{
            color: white;
            font-weight: 300;
            cursor: default;
        }
    }
}

