.activity_profile{
    width: 85%;
    margin: auto;
    display: flex;
    // padding-top: 2rem;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .activity_logo{
        height: 290px;
        min-width: 290px;
        max-width: 290px;
        // border-radius: 50%;
        margin-right: 2rem;
    }
    .inner_container{
        width: 100%;
        .activity_title{
            font-size: 52px;
            color: white;
            font-weight: 500;
            margin: 0px;
        }
        .label_text{
            align-items: center;
            margin-right: 2.5rem;
            h3{
                color: white;
                font-size: 26px;
                font-weight: 200;
                margin-right: 0.5rem;
            }
            h4{
                color: #B2B2B2;
                font-size: 16px;
                font-weight: 200;
                font-family: var(--fs-poppins-200);
            }
        }
    }
}

.centralise{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_align{
    display: flex;
}
.flex_end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.view_tab{
    width: 85%;
    margin: auto;
    border-bottom: 1px solid #1c1c1c;
    // padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    .view_nav{
        padding: 0.75rem;
        width: 100%;
        text-align: center;
        transform: 0.3s ease-in;
        h3{
            margin: 0px;
            font-weight: 200;
            color: white;
            font-size: 14px;
        }
    }
    .view_nav:hover{
        cursor: pointer;
        background: rgba(103, 103, 103, 0.06);
    }
}

.content_container{
    width: 85%;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    margin-top: 2rem;
    div{
        width: 100%;
        margin-right: 2rem;
        h3{
            color: white;
            font-size: 30px;
            margin: 0px;
            margin-bottom: 1rem;
            font-weight: 400;
        }
        p{
            color: rgb(170, 170, 170);
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 2rem;
            letter-spacing: 1px;
        }
        h4{
            color: white;
            font-family: var(--fs-poppins-200);
            font-weight: 100;
            margin: 0px;
        }
    }
    img{
        height: 274px;
        width: auto;
    }

}

.terms_container{
    margin: auto;
    margin-top: 2rem;
    background-color: #1c1c1c;
    width: 85%;
    padding: 1rem;
    .terms_page{
        background: white;
        margin: 0px;
        padding: 4rem 6rem;
        h3, h4, h2{
            margin: 0px;
        }
        .header{
            .logo{
                display: flex;
                align-items: center;
                h3{
                    font-size: 24px;
                    font-family: var(--fs-montserrat-300);
                }
                img{
                    height: 28px;
                    width: 28px;
                }
            }
            .title{
                font-size: 32px;
                margin: auto;
                width: fit-content;
                font-family: var(--fs-montserrat-300);
                font-weight: 600;
                margin: 1.5rem auto;
            }
            .date{
                display: flex;
                justify-content: flex-end;
                h3{
                    font-family: var(--fs-montserrat-300);
                    font-weight: 500;
                }
            }
        }
        .body{
            p{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
                font-weight: 100;
            }
            h4{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                margin: 1.5rem 0rem;
            }
            .term{
                h3{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: lighter;
                }
                p{
                    margin-bottom:2.5rem;
                }
            }
        }
        .footer{
            h3{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                margin: 1.5rem 0rem;
            }
            .addresses{
                display: flex;
                align-items: center;
                margin: 0.5rem 0rem;
                h3{
                    font-size: 16px;
                    margin: 0px;
                    margin-right: 1rem;
                }
                h4{
                    // font-family: var(--fs-poppins-200);
                    font-weight: 200;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }
    }
}

.button_text{
    color: white;
    font-weight: 200;
}

.activity_owner{
    display: flex;
    width: fit-content;
    align-items: center;
    img{
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    h3{
        margin: 0px;
        color: #B2B2B2;
        font-weight: 400;
        font-size: 16px;
    }
    h3:hover{
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }
}