.section{
    .table, td, th{
        width: fit-content;
        border-collapse:separate;
        border-spacing:20px 10px;
    }
    max-height: 55vh;
    overflow-y: scroll;
}
.section::-webkit-scrollbar{
    width: 5px;
}
.section::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}
.section::-webkit-scrollbar-thumb{
    transition: 200ms ease;
    // background: #747474;
    background: #1B1B1B;
    // border-radius: 10px;
}
.section::-webkit-scrollbar-thumb:hover{
    background: #1f1f1f;

}
.table{
    --row-inner-margin: 0.25rem;
    thead{
        color: #747474;
        position: sticky;
        top: 0px;
        font-family: var(--fs-inter-400);
        z-index: 20;
        tr> th{
            font-size: 16px;
            font-weight: 400;
        }
        tr{
            th:nth-child(2){
                width: 72ch;
                text-align: left;
            }
        }
    }
    thead::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: -0rem;
        height: 2.5rem;
        background-color: #0A0A0A;
        width: 100%;
        // border: 1px solid grey;
    }
    tbody{
        tr{
            outline: 1px solid #1B1B1B;
            border-radius: 2px;
            td{
                p{
                    margin: calc(var(--row-inner-margin )*2) 0px;
                    font-family: var(--fs-inter-400);
                    font-size: 16px;
                    font-weight: 300;
                    color: white;
                }
            }
            td:not(:nth-child(2)){
                text-align: center;
                color: white;
                font-family: var(--fs-inter-400);
                    font-size: 16px;
                    font-weight: 300;
                    color: white;
            }
            td:nth-child(2){
                
                display: flex;
                align-items: center;
                width: 100%;
                color: white;
                font-family: var(--fs-inter-400);
                    font-size: 16px;
                    font-weight: 300;
                    color: white;
                .profile{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    margin: var(--row-inner-margin) 1rem var(--row-inner-margin) 0rem;
                }
                p{
                    margin: 0px;
                    font-family: var(--fs-inter-400);
                    font-size: 16px;
                    font-weight: 300;
                    color: white;
                }
            }
        }
    }
}