@import url("../global.css");
.textOnInput {
  position: relative;
  margin: 1rem 1rem;
  width: 100%;
}

.textOnInput input {
  width: 100%;
  padding: 0.75rem 7px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--palette-mdark-grey);
  color: white;
  font-family: var(--fs-poppins-200);
}

.textOnInput textarea {
  border: 1px solid transparent;
  width: 100%;
  padding: 0.75rem 7px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--palette-mdark-grey);
  color: white;
  font-family: var(--fs-poppins-200);
}

section.form-only {
  max-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--palette-gradient-black)), color-stop(99.48%, var(--palette-gradient-black)));
  background-image: linear-gradient(180deg, var(--palette-gradient-black) 0%, var(--palette-gradient-black) 99.48%);
}

.textOnInput label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 2px;
  z-index: 1;
  font-family: var(--fs-poppins-400);
}

.textOnInput label:after {
  content: " ";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, var(--palette-dark-grey)), color-stop(25%, var(--palette-mdark-grey)));
  background-image: linear-gradient(180deg, var(--palette-dark-grey) 75%, var(--palette-mdark-grey) 25%);
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 7px;
  z-index: -1;
}

.label {
  font-weight: 500;
  display: inline-block;
  color: var(--palette-light-grey);
}

.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 2rem;
  background: var(--palette-dark-grey);
}

.side-image {
  width: 25%;
  height: auto;
  margin: auto;
  position: absolute;
  z-index: 0;
}

.side-banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner-title {
  max-width: 60%;
  z-index: 2;
  font-family: var(--fs-poppins-400);
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  background: -webkit-gradient(linear, left top, right top, from(#D47AFF), color-stop(21.66%, #FF78BD), color-stop(52.22%, #FFFBFC), color-stop(74.33%, #FF79E2));
  background: linear-gradient(90deg, #D47AFF 0%, #FF78BD 21.66%, #FFFBFC 52.22%, #FF79E2 74.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register-form {
  padding: 1rem;
}

.submit-button {
  padding: 0.5rem 2.5rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(-14.67%, #FF5858), color-stop(16.86%, #EC7AFF), color-stop(46.5%, #F0CFFF), color-stop(82.45%, rgba(243, 141, 233, 0.88)), color-stop(105.16%, #FF7878));
  background: linear-gradient(90deg, #FF5858 -14.67%, #EC7AFF 16.86%, #F0CFFF 46.5%, rgba(243, 141, 233, 0.88) 82.45%, #FF7878 105.16%);
  outline: none;
  border: none;
  font-size: 0.8em;
  font-family: var(--fs-poppins-200);
  border-radius: 3px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px 4px rgba(255, 155, 239, 0.26);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px 4px rgba(255, 155, 239, 0.26);
}

.submit-button:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(-14.67%, #C93232), color-stop(16.86%, #C34BD7), color-stop(46.5%, #C898DF), color-stop(82.45%, #D763CB), color-stop(105.16%, #D25151));
  background: linear-gradient(90deg, #C93232 -14.67%, #C34BD7 16.86%, #C898DF 46.5%, #D763CB 82.45%, #D25151 105.16%);
  cursor: pointer;
}

.error-box {
  padding: 1rem;
  background: var(--palette-light-red);
  border: 1px solid var(--palette-dark-red);
  color: var(--palette-dark-red);
  margin: 1rem;
  font-size: 100%;
}

.inactive {
  outline: none;
  background-color: #292929 !important;
  color: #5E5E5E !important;
  padding-left: 1rem !important;
}

.acc-user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  height: 5cm;
  width: 5cm;
  overflow: hidden;
  /* background-image: url(https://qph.fs.quoracdn.net/main-qimg-5e7afddaa441e199d3f1fd08178ec526); */
  background-size: 100%;
  -webkit-box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.555);
          box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.555);
}

.acc-user-profile div img {
  width: 100%;
  height: auto;
  z-index: 2;
}

.acc-user-profile .acc-user-profile-lens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: absolute;
  height: 5cm;
  width: 5cm;
  border-radius: 50%;
}

.acc-user-profile .acc-user-profile-lens .lens-text:hover {
  text-decoration: none;
}

.acc-user-profile .acc-user-profile-lens .lens-text {
  margin: auto;
  display: none;
}

.acc-user-profile:hover .acc-user-profile-lens .lens-text {
  color: white;
  display: block;
}

.acc-user-profile:hover .acc-user-profile-lens {
  background-color: rgba(0, 0, 0, 0.432);
  cursor: pointer;
}

.options-menu {
  background: var(--palette-mdark-grey);
  width: 100%;
  padding: 0.75rem 7px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--palette-mdark-grey);
  color: white;
  font-family: var(--fs-poppins-200);
  border: none;
}
/*# sourceMappingURL=styles.css.map */