.parentSection {
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 2em 2em 2em 0;
  border-radius: 0 15px 15px 0;
  background-color: #0D0D0D;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1b1b1b;
  }

  &::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.account_overview {
  width: 100%;
  padding: 2rem;

  .details_container {
    width: 100%;
    height: 14vh;
    display: flex;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    box-shadow: 0px 0px 15px 10px rgba(88, 254, 255, 0.07);
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;

    .inner_div {
      display: flex;
      align-items: center;
      gap: 2rem;

      .profile_pic_container {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

      }

      .details {
        h4 {
          color: #ffffff;
          font-family: var(--fs-inter-400);
          font-size: 0.9em;
          font-style: normal;
          font-weight: 700;
          margin: 0 0 0.7em 0;
        }

        p {
          color: #969696;
          font-family: var(--fs-inter-400);
          font-size: 0.6em;
          font-style: normal;
          font-weight: 400;
          margin: 0.4em 0 0 0;
        }

      }
    }

    .edit_profile {
      width: fit-content;
      height: 2rem;
      border-radius: 25px;
      background: #1A1A1A;
      padding: 1rem 1.5rem;
      font-family: var(--fs-inter-400);
      font-size: 0.8em;
      font-style: normal;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #BFBFBF;
      transition: all 0.3s ease;

      a {
        color: #BFBFBF;
        text-decoration: none;
        font-size: 0.5rem;
        // margin: 0 0.5rem ;
      }
    }

    .edit_profile:hover {
      background: #202020;
      color: #ffffff;
    }

  }

  .wrapper {
    position: relative;

    .personal_info {
      width: 100%;
      height: fit-content;
      background: #0D0D0D;
      box-shadow: 0px 0px 15px 10px rgba(88, 254, 255, 0.07);
      border-radius: 4px;
      margin: 2rem 0;
      padding: 0 0 2rem 0;
      position: relative;
      z-index: 15;

      .heading_container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px 4px 0px 0px;
        border: 1px solid #1F1F1F;
        background: #1A1A1A;
        height: 50px;
        align-content: center;

        h4 {
          font-family: var(--fs-poppins-400);
          font-size: 1rem;
          margin: 0 2.2em;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          background: linear-gradient(#23D6FF, #58FEFF, #FFFBFC, #E87308);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          letter-spacing: 1.4px;
        }
      }

      form {
        width: 90%;
        margin: 2rem auto;
        // border: 2px solid red;

        .twobytwo {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 4rem;
          // margin: 0;
        }
      }
    }

    .glow {
      position: absolute;
      bottom: 10%;
      left: 86%;
      width: 102px;
      height: 105px;
      border-radius: 50%;
      background: #E87308;
      filter: blur(80.5px);
      z-index: 0;
    }
  }

}

.security_wrapper {
  position: relative;

  .security {
    width: 100%;
    height: auto;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    background: #0D0D0D;
    box-shadow: 0px 4px 15px 10px rgba(88, 254, 255, 0.07);
    position: relative;
    z-index: 15;

    .heading_container {
      display: flex;
      flex-wrap: wrap;
      border-radius: 4px 4px 0px 0px;
      border: 1px solid #1F1F1F;
      background: #1A1A1A;
      height: 50px;
      align-content: center;

      h4 {
        font-family: var(--fs-poppins-400);
        font-size: 1.2rem;
        margin: 0 2em;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(#23D6FF, #58FEFF, #FFFBFC, #E87308);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        letter-spacing: 1.4px;
      }
    }

    .inner_container {
      padding: 2rem;

      h3 {
        font-size: 1.1rem;
      }

      form {
        width: 100%;

        .twobytwo {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 3rem;
          // margin: 0;
        }

        // input {
        //   width: 100%;
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        //   align-items: center;
        //   gap: 0.5em;

        //   label {
        //     width: 100%;
        //     text-align: left;
        //     font-size: 1.2em;
        //     color: var(--palette-medium-grey);
        //   }

        //   input {
        //     width: 100%;
        //     height: 2.5em;
        //     border: 1px solid var(--palette-medium-grey);
        //     border-radius: 0.5em;
        //     padding: 0.5em;
        //     font-size: 1.2em;
        //     color: var(--palette-medium-grey);
        //   }
        // }

        button {
          width: 100%;
          // padding: 0.1rem auto;
          margin: 1rem 0;
          text-align: center;

          h3 {
            width: 100%;
            font-size: 0.8rem;
            font-weight: 500;
            margin: 0;
            color: black;
          }
        }

        .button {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          button {
            width: fit-content;
            height: 2.5em;
            border: 1px solid var(--palette-medium-grey);
            padding: 0.5rem 1.5rem;
            font-size: 1.2em;
            color: var(--palette-medium-grey);
            background-color: var(--palette-light-grey);
          }
        }
      }

      p {
        color: var(--palette-medium-grey);
        font-size: 0.8em;
        font-family: var(--fs-poppins-400);
        margin-top: 1em;
      }

      .tfa {
        background-color: #1b1b1b;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 2rem 0;

        p {
          color: white;
          font-size: 0.7em;
          font-family: var(--fs-poppins-400);
          margin: 0;
        }

        .tfa_option {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          input[type="checkbox"] {
            height: 0;
            width: 0;
            visibility: hidden;
          }

          label {
            cursor: pointer;
            text-indent: -9999px;
            width: 31px;
            height: 17.71px;
            background: grey;
            display: block;
            border-radius: 31px;
            position: relative;
          }

          label:after {
            content: "";
            position: absolute;
            top: 1.5px;
            left: 3px;
            width: 14.76px;
            height: 14.76px;
            background: #fff;
            border-radius: 14.76px;
            transition: 0.3s;
          }

          input:checked+label {
            background: #ff78bd;
          }

          input:checked+label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
          }

          label:active:after {
            width: 14px;
          }

          h5 {
            color: white;
            font-family: var(--fs-poppins-400);
            font-size: 1.0rem;
            padding: 0;
            margin: 0;
          }
        }

        hr {
          border: 1px solid #939393;
          width: 100%;
          margin-block: 1rem;
        }
      }
    }

  }

  .glow {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 102px;
    height: 105px;
    border-radius: 50%;
    background: #E87308;
    filter: blur(80.5px);
    z-index: 0;
  }

  .glow1 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 102px;
    height: 105px;
    border-radius: 50%;
    background: #E87308;
    filter: blur(80.5px);
    z-index: 0;
  }
}

.add_profile {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .dropdownBtn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #1F1F1F;
    background: #1A1A1A;
    height: 50px;
    align-content: center;

    h3 {
      font-family: var(--fs-poppins-400);
      font-size: 1.2rem;
      margin: 0 2em;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(#23D6FF, #58FEFF, #FFFBFC, #E87308);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      letter-spacing: 1.4px;
    }
  }

  .arrow {
    transition: transform 0.3s;

    &.active {
      transform: rotate(180deg);
    }
  }

  /* Dropdown form */
  .dropdownForm {
    padding: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    display: none;
    transition: transform 0.5s ease, opacity 0.3s ease;
  }

  /* Show dropdown form */
  .dropdownForm.show {
    transform: translateY(0);
    opacity: 1;
    display: flex;
    transition-delay: 0s, 0.3s;
    box-shadow: 0px 4px 15px 10px rgba(88, 254, 255, 0.07);

  }

  form {
    width: 100%;
    height: 100%;
    margin-left: -1rem;
    display: flex;
    flex-direction: column;

    .twobytwo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    button {
      padding-inline: 1em;
      margin: 0;
      align-self: flex-end;

      h3 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        color: black;
      }
    }
  }

  .student_profile,
  .job_profile {
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #1F1F1F;
    background: #0D0D0D;
    // box-shadow: 0px 4px 15px 10px rgba(88, 254, 255, 0.07);
  }

  .dropdownBtn:hover{
    background: #161616;
  }

}

.profile_connection_wrapper {
  display: flex;
  gap: 1.5rem;

  .profile_connection_container {
    border: 1px solid #2b2b2b;
    background: #111111;
    transition: 200ms ease;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 15px;
    gap: 0.75rem;

    h3 {
      text-align: center;
      font-size: 0.8em;
      font-family: var(--fs-inter-400);
      font-weight: 200;
      color: #b6b6b6;
    }

    button {
      padding: 0.5rem 1.25rem;
      background: #1b1b1b;
      border: 1px solid #2b2b2b;
      color: white;
      border-radius: 5px;
      transition: 200ms ease;
    }
  }

  .profile_connection_container:hover {
    // border: 1px solid rgb(141, 141, 141);
    background: #131313;

    button:hover {
      background: #4e4e4e;
      border: 1px solid #2b2b2b;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}