.section_1{
    border-bottom: 1px solid #1B1B1B;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    .activity_info{
        display: flex;
        align-items: center;
        .activity_logo{
            padding: 0.5rem;
            border: 1px solid #252525;
            border-radius: 50%;
            height: 65px;
            width: 65px;
            .logo_wrapper{
                border-radius: 50%;
                overflow: hidden;
                height: fit-content;
                width: fit-content;
                display: flex;
                align-items: center;
            }
        }
        .activity_title{
            color: white;
            font-family: var(--fs-montserrat-300);
            text-transform: uppercase;
            font-weight: 300;
            font-size: 2em;
            margin: 0px;
            margin-left: 1rem;
        }
        .activity_details{
            display: flex;
            margin: 0rem 1.5rem;
            align-items: baseline;
            h2, h3{
                color: white;
                font-family: var(--fs-inter-400);
                font-size: 1.5em;
                font-weight: 300;
            }
            h3{
                font-size: 1em;
                color: #C3C3C3;
                margin-left: 0.5rem;
                text-transform: uppercase;
            }
        }
    }
    // border: 1px solid white;
}