.main_container {
  width: 90%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.main_container .data_cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

.taskSection {
  width: 100%;
  font-family: var(--fs-inter-400);
}
.taskSection .dropdownBtn {
  width: -moz-fit-content;
  width: fit-content;
  background: #1b1b1b;
  color: #bfbfbf;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  margin: 10px 40px;
  letter-spacing: 1px;
  transition: 200ms ease;
  padding: 0.5rem 1.5rem;
}
.taskSection .dropdownBtn h3 {
  margin: 0px;
}
.taskSection .dropdownBtn:hover {
  background: #0e0e0e;
}
.taskSection .arrow {
  padding: 0 5px;
  transition: transform 0.3s;
}
.taskSection .arrow.active {
  transform: rotate(180deg);
}
.taskSection .dropdownContent {
  display: none;
  transition: opacity 0.3s, max-height 0.3s;
}
.taskSection .dropdownContent.show {
  display: block;
  transition: opacity 0.3s 0.3s, max-height 0.3s 0.3s;
}
.taskSection .wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 35px;
  position: relative;
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
}
.taskSection .wrapper::-webkit-scrollbar {
  width: 10px;
}
.taskSection .wrapper::-webkit-scrollbar-track {
  background: #1b1b1b;
}
.taskSection .wrapper::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}
.taskSection .wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.taskSection .wrapper .row {
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid #333333;
  padding-left: 1.2rem;
}
.taskSection .wrapper .row section:hover {
  background-color: #1b1b1b;
}
.taskSection .wrapper .row section {
  display: flex;
  transition: 200ms ease;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  width: calc(100% - 40px);
  align-items: center;
  position: relative;
  padding: 1rem 1rem 0.5rem 1rem;
  justify-content: space-between;
  margin: 0.4rem 0;
}
.taskSection .wrapper .row section button {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}
.taskSection .wrapper .row section .icon {
  position: absolute;
  top: 37%;
  left: -33px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333333;
  font-size: 17px;
}
.taskSection .wrapper .row section .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
}
.taskSection .wrapper .row section .details .user_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.taskSection .wrapper .row section .details .user_info .user_img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.taskSection .wrapper .row section .details .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}
.taskSection .wrapper .row section p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 5px 10px;
  min-width: 15ch;
}
.taskSection .wrapper .row section p ul {
  list-style: disc;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.taskSection .wrapper .row section p span {
  color: #595959;
  font-size: 13px;
}
.taskSection .wrapper .row section .due_date,
.taskSection .wrapper .row section .reward_amount {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #595959;
  align-self: center;
}
.taskSection .wrapper .row section .amount {
  align-self: center;
}
.taskSection .wrapper .row section .amount span {
  background: #3a3a3a;
  border-radius: 3px;
  padding: 0.65rem 1.5rem;
  margin: 0 10px;
  font-size: 12px;
}
.taskSection .wrapper .row section .view {
  align-self: center;
}
.taskSection .wrapper .row section .view a {
  text-decoration: none;
  background: linear-gradient(90deg, #ff5858 -15.3%, #ec7aff 16.86%, #f0cfff 46.5%, rgba(243, 141, 233, 0.88) 82.45%, #ff7878 105.16%);
  border: 1px solid #000000;
  border-radius: 3px;
  color: #000000;
  padding: 8px 30px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.no_tasks {
  margin-left: 2.5rem;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(199, 199, 199);
  font-family: var(--fs-inter-400);
  font-size: 1em;
  font-weight: 300;
}/*# sourceMappingURL=styles.module.css.map */