.page {
  background: #050505;
  max-height: 100vh;
  overflow-y: scroll;
  --max-width: 85%;
}
.page .introduction_container:nth-of-type(3),
.page .introduction_container:nth-of-type(7),
.page .introduction_container:nth-of-type(5) {
  justify-content: flex-start;
  align-items: start;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: start;
  justify-content: space-around;
  margin-top: 5rem;
}
.page .introduction_container:nth-of-type(3) .introduction,
.page .introduction_container:nth-of-type(7) .introduction,
.page .introduction_container:nth-of-type(5) .introduction {
  align-items: start;
  justify-content: flex-start;
  align-items: start;
  justify-content: flex-start;
  padding-top: 0;
}
.page .introduction_container:nth-of-type(7) .introduction {
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.page .introduction_container:nth-of-type(7) .introduction p {
  text-align: center;
}
.page .introduction_container:nth-of-type(5) {
  justify-content: flex-end;
  justify-content: flex-end;
  gap: 3rem;
}
.page .introduction_container:nth-of-type(5) .side_image {
  width: 566px;
  height: 395px;
}
.page .introduction_container {
  width: var(--max-width);
  position: relative;
  margin: auto;
}
.page .introduction_container .side_image {
  width: 500px;
  display: flex;
  height: auto;
  transition: 200ms ease;
  padding: 2rem;
  border: 2px solid rgb(207, 207, 207);
  border: 2px solid rgb(207, 207, 207);
  border-radius: 25px;
}
.page .introduction_container .side_image:hover {
  box-shadow: 0 0 5px 2px rgba(202, 89, 255, 0.2), 3px 0 10px 4px rgba(255, 77, 225, 0.1450980392), 0 3px 15px 6px rgba(255, 148, 237, 0.13), 0 0 20px 8px rgba(189, 148, 255, 0.1294117647);
}
.page .introduction_container .glow1 {
  position: absolute;
  top: 3rem;
  z-index: 1;
  right: 0rem;
  background-color: transparent;
}
.page .introduction_container canvas {
  position: absolute;
  top: 0;
  z-index: 10;
  right: 0;
}
.page .introduction_container .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 120ch;
  padding: 4rem;
}
.page .introduction_container .introduction h2 {
  font-family: var(--fs-poppins-200);
  font-size: 3em;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.79deg, #000000 0.18%, #cb59ff 0.19%, #ff4de2 24.51%, #fff7fe 53.65%, rgba(255, 148, 237, 0.8) 79.09%, #bd94ff 99.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  margin: 0;
}
.page .introduction_container .introduction h3 {
  font-family: var(--fs-montserrat-300);
  font-size: 1.5em;
  color: white;
  font-weight: 300;
  margin: 0;
}
.page .introduction_container .introduction p {
  font-family: var(--fs-inter-400);
  font-size: 1.25em;
  color: white;
  font-weight: 200;
  margin: 0;
  line-height: 1.5em;
  margin-top: 2.5rem;
  max-width: 55ch;
}
.page .introduction_container .introduction .start_button {
  position: relative;
  z-index: 10;
  padding: 1rem 4.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4rem;
  background: transparent;
  border: 1px solid #cb59ff;
  border-radius: 5px;
  font-family: var(--fs-inter-400);
  font-size: 1em;
  color: white;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: black;
  box-shadow: 0 0 5px 2px rgba(202, 89, 255, 0.2), 3px 0 10px 4px rgba(255, 77, 225, 0.1450980392), 0 3px 15px 6px rgba(255, 148, 237, 0.13), 0 0 20px 8px rgba(189, 148, 255, 0.1294117647);
  box-shadow: 0 0 5px 2px rgba(202, 89, 255, 0.2), 3px 0 10px 4px rgba(255, 77, 225, 0.1450980392), 0 3px 15px 6px rgba(255, 148, 237, 0.13), 0 0 20px 8px rgba(189, 148, 255, 0.1294117647);
}
.page .introduction_container .introduction .start_button:hover {
  background: #cb59ff;
  color: black;
}
.page .introduction_container .introduction .start_button span {
  z-index: 10;
}
.page .introduction_container .introduction .start_button::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  left: 0%;
  width: 100%;
  border-radius: 50%;
  height: 0%;
  background: #cb59ff;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.page header .header_line_wrapper {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page header .header_line_wrapper .header_line {
  margin: 0;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5.5em;
  font-family: var(--fs-inter-400);
}
.page header .header_line_wrapper .header_line span {
  margin-left: 0.25ch;
}
.page header .header_line_wrapper .header_subline {
  font-family: var(--fs-inter-400);
  font-size: 1.5em;
  font-weight: 300;
  max-width: 80ch;
  color: gray;
  text-align: center;
}
.page .banner {
  width: var(--max-width);
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  flex-direction: column;
}
.page .banner h1 {
  font-family: var(--fs-poppins-200);
  font-size: 3em;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(89.79deg, #000000 0.18%, #cb59ff 0.19%, #ff4de2 24.51%, #fff7fe 53.65%, rgba(255, 148, 237, 0.8) 79.09%, #bd94ff 99.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  margin: 5rem auto;
}
.page .banner .banner_image {
  overflow: hidden;
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid darkgray;
  transition: 200ms ease;
}
.page .banner .banner_image:hover {
  box-shadow: 0 0 5px 2px rgba(202, 89, 255, 0.2), 5px 0 10px 4px rgba(255, 77, 225, 0.1450980392), 0px 0px 15px 6px rgba(255, 148, 237, 0.13), 0px 0 20px 8px rgba(189, 148, 255, 0.1294117647);
  box-shadow: 0 0 5px 2px rgba(202, 89, 255, 0.2), 5px 0 10px 4px rgba(255, 77, 225, 0.1450980392), 0px 0px 15px 6px rgba(255, 148, 237, 0.13), 0px 0 20px 8px rgba(189, 148, 255, 0.1294117647);
}
.page h3.additional {
  font-family: var(--fs-poppins-200);
  font-size: 1.25em;
  width: -moz-fit-content;
  width: fit-content;
  color: gray;
  font-weight: 600;
  margin: 2rem auto;
}
.page .timeline_1 {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-top: 2rem;
}
.page .timeline_1 .stage_bubble {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  justify-content: center;
  margin: auto;
  align-items: center;
  align-items: center;
  --start-color: #7928ca;
  --end-color: #ff6eec;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  color: black;
  font-family: var(--fs-poppins-200);
  font-weight: 600;
}
.page .timeline_1 span {
  margin: auto;
  display: block;
  min-height: 7rem;
  width: 1px;
  background: linear-gradient(358deg, rgba(243, 140, 255, 0), #ec82ff);
  background: linear-gradient(358deg, rgba(243, 140, 255, 0), #ec82ff);
}
.page .timeline_1 h3 {
  font-family: var(--fs-poppins-200);
  font-weight: 400;
  font-size: 1.25em;
  color: white;
  margin: 0;
  margin-top: 1rem;
}

.timeline_1:nth-of-type(2) .stage_bubble {
  --start-color: #0085a0;
  --end-color: #c8f4fd;
  background: linear-gradient(90deg, var(--start-color), var(--end-color)) !important;
}
.timeline_1:nth-of-type(2) span {
  background: linear-gradient(358deg, #b0f2ff, rgba(135, 235, 255, 0)) !important;
  background: linear-gradient(358deg, #b0f2ff, rgba(135, 235, 255, 0)) !important;
}
.timeline_1:nth-of-type(2) span:nth-of-type(2) {
  background: linear-gradient(358deg, rgba(135, 235, 255, 0), #b0f2ff) !important;
  background: linear-gradient(358deg, rgba(135, 235, 255, 0), #b0f2ff) !important;
}

.timeline_1:nth-of-type(4) .stage_bubble {
  --start-color: #009236;
  --end-color: #79f1a4;
  background: linear-gradient(90deg, var(--start-color), var(--end-color)) !important;
}
.timeline_1:nth-of-type(4) span {
  background: linear-gradient(358deg, #79f1a4, rgba(135, 235, 255, 0)) !important;
  background: linear-gradient(358deg, #79f1a4, rgba(135, 235, 255, 0)) !important;
}
.timeline_1:nth-of-type(4) span:nth-of-type(2) {
  background: linear-gradient(358deg, rgba(135, 235, 255, 0), #79f1a4) !important;
  background: linear-gradient(358deg, rgba(135, 235, 255, 0), #79f1a4) !important;
}

.timeline_1:nth-of-type(6) {
  --start-color: #7928ca;
  --end-color: #ff6eec;
}
.timeline_1:nth-of-type(6) span {
  background: linear-gradient(358deg, #ec82ff, rgba(243, 140, 255, 0));
  background: linear-gradient(358deg, #ec82ff, rgba(243, 140, 255, 0));
}

.page::-webkit-scrollbar {
  width: 0.5rem;
}

.page::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #1f1f1f;
}

.page::-webkit-scrollbar-track {
  background: transparent;
}

.page::-webkit-scrollbar-thumb:hover {
  background-color: #161616;
}

.highlight {
  color: #cb59ff; /* default highlight color */
  transition: color 0.5s ease; /* transition effect on color change */
  color: #cb59ff; /* default highlight color */
  transition: color 0.5s ease; /* transition effect on color change */
}

.highlight:nth-of-type(2) {
  color: #c8f4fd;
}

.highlight:nth-of-type(3) {
  color: #79f1a4;
}