.nav_list{
    display: flex;
    flex-direction: column;
    padding: 0;
    --space-from-left: 2rem;
    li{
        display: flex;
        align-items: center;
        h3{
            font-weight: 400;
            font-size: 16px;
            // border: 1px solid white;
            margin-left:var(--space-from-left);
            min-width: 14ch;
            // max-width: 24ch;
            // font-size: 15px;
            transition: 0.2s ease-out;
            color: white;   
        }
        h4{
            font-weight: 400;
            font-size: 16px;
            font-family: var(--fs-inter-400);
            background-color: red;
            // margin-left:var(--space-from-left);
            width: 2ch;
            text-align: center;
            padding: auto;
            margin: auto;
            border-radius: 50%;
            transition: 0.2s ease-out;
            color: white;
        }
        h3:hover{
            cursor: pointer;
            color: var(--palette-light-grey);
        }
        .activities_list{
            padding: 0;
            border-left: 1px dashed #484848;
            margin-left: calc(var(--space-from-left) - 1.25rem);
            padding-left: calc(var(--space-from-left) + 0.75rem);
            text-decoration: none;
            // border: 1px solid white;
            .role_header{
                text-transform: uppercase;
                font-weight: 400;
                font-size: 12px;
                color: #595959;
                line-height: 13px;
                margin: 0;
            }
            .role_header:hover{
                cursor: default;
            }
            .role_header::before{
                content: '#';
            }
            .activity_container{
                display: flex;
                align-items: center;
                width: fit-content;
                .activity_logo{
                    margin-right: calc(var(--space-from-left)/2);
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    transition: 200ms ease;
                }
                .activity_logo:hover{
                    filter: brightness(0.8);
                }
                .activity_title{
                    color: white;
                    font-size: 15px;
                    font-weight: 200;
                    font-family: var(--fs-poppins-200);
                }
            }
            .activity_container:hover{
                cursor: pointer;
                .activity_title{
                    color: var(--palette-light-grey);
                }
            }
        }
    }
    align-self: start;
    margin: 0rem 0rem 0rem 0rem;
    border-bottom: 1px solid #484848;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem
}


.side_nav{
    width: fit-content;
    height: 92.5vh;
    position: sticky;
    border-right: 1px solid #484848;
}

