.outer_wrapper {
  width: 100%;
  position: relative;
  .glow {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 102px;
    height: 105px;
    border-radius: 50%;
    background: #e87308;
    filter: blur(80.5px);
    z-index: 0;
  }
}
.wrapper {
  //   width: 100%;
  margin: auto;
  // border: 1px solid white;
  //   background: var(--palette-dark-grey);
  background-color: #0d0d0d;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 10px rgba(88, 254, 255, 0.07);
  position: relative;
  z-index: 9;
  padding-bottom: 1rem;

  .heading_container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #1f1f1f;
    background: #1a1a1a;
    height: 50px;
    align-content: center;

    h4 {
      font-family: var(--fs-poppins-400);
      font-size: 1rem;
      margin: 0 2rem;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: linear-gradient(
        90deg,
        var(--palette-primary-blue) 0%,

        #fffbfc 52.22%,
        var(--palette-secondary-blue) 74.33%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      letter-spacing: 1.4px;
    }
  }
  //   .wrapper_title {
  //     font-family: var(--fs-poppins-400);
  //     font-style: normal;
  //     font-weight: 500;
  //     font-size: 36px;
  //     line-height: 63px;
  //     background: linear-gradient(
  //       90deg,
  //       #d47aff 0%,
  //       #ff78bd 21.66%,
  //       #fffbfc 52.22%,
  //       #ff79e2 74.33%
  //     );
  //     -webkit-background-clip: text;
  //     -webkit-text-fill-color: transparent;
  //     background-clip: text;
  //     // text-fill-color: transparent;
  //     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //     margin-left: 1rem;
  //     margin-bottom: 1rem;
  //   }
  .form_container {
    max-height: 50vh;
    overflow-y: scroll;
    // border-bottom: 1px solid var(--palette-light-grey);
    padding-bottom: 2rem;
    padding: 1rem 2rem;
    .flex_between {
      display: flex;
      justify-content: space-between;
      //   border-bottom: 1px dotted var(--palette-light-grey);
      // min-height: 2.6rem;
    }
    .flex {
      display: flex;
      margin: 1rem 0;
      //   border-bottom: 1px dotted var(--palette-light-grey);
    }
  }
}

.delete_button {
  background: transparent;
  border: 1px solid #3a3a3a;
  color: white;
  font-family: var(--fs-poppins-200);
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 10px;
  transition: 0.3s ease-out;
  margin-top: 1.5rem;
}
.delete_button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    0px 0px 10px 2px rgba(255, 155, 239, 0.26);
}

.add_field {
  width: fit-content;
  // padding: 0.5rem 1.5rem;
  background: transparent;
  border: 1px solid transparent;
  color: white;
  font-size: 12px;
  span {
    margin-left: 0.75rem;
  }
}
.add_field:hover {
  cursor: pointer;
}
