.color_red{
    color:red;
}
.form_header{
    margin: 0px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: var(--fs-montserrat-300);
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 1.5rem;
}
.form_container{
    padding: 1.5rem;
    background: var(--palette-dark-grey);
    // border: 1px solid white;
}
.space_between{
    margin: 0px 1rem;
}