.navbar {
  border-bottom: 0.1px solid #484848;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 2rem;
  background-image: linear-gradient(
    134deg,
    hsla(191, 100%, 57%, 0.199),
    rgba(0, 0, 0, 0) 30%
  );
}

.nav_links {
  display: flex;
  align-items: center;
  button {
    scale: 0.8;
  }
}

.link_text {
  font-family: var(--fs-montserrat-300);
  font-size: 12px;
  margin: 0rem 2rem;
  font-weight: 100;
  transition: 0.3s ease-out;
  // transform: translateY(6px);
  color: white;
}
.link_profile {
  font-family: var(--fs-montserrat-300);
  // border: 1px solid white;
  width: 30px;
  // padding: 1rem;
  border-radius: 50%;
  // display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 3rem;
  transition: 0.3s ease-out;
}
.link_profile:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
.link_text:hover {
  color: var(--palette-light-grey);
  cursor: pointer;
}
