@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Global colours */
  --palette-black: #000000;
  --palette-gradient-black: #050505;
  --palette-gradient-grey: #171717;
  --palette-dark-grey: #171717;
  --palette-medium-grey: #939393;
  --palette-light-grey: #dbdbdb;
  --palette-text-grey: #E6E6E6;
  --palette-text-green: #64CF8F;
  --palette-darker-grey: #3A3A3A;
  --palette-mdark-grey: #494949;
  --palette-text-green-active: #3F8059;
  --palette-dark-red: #BC0000;
  --palette-light-red: #FF7A7A;
  --palette-hot-pink: #FF79E2;
  /* Global fonts */
  --fs-poppins-400: "Poppins", sans-serif;
  --fs-josef-400: "Josefin Sans", sans-serif;
  --fs-josef-600: "Josefin Sans", sans-serif;
  --fs-poppins-200: "Poppins", sans-serif;
  --fs-cinzel-400: 'Cinzel', serif;
  --fs-montserrat-300: 'Montserrat', sans-serif;
  --fs-inter-400: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  background-image: linear-gradient(180deg, var(--palette-gradient-black) 0%, var(--palette-gradient-grey) 99.48%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.centralise {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 2rem;
  height: 100vh;
}
.centralise .divider {
  width: 100%;
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-together {
  display: flex;
  align-items: center;
}
.flex-together input[type=checkbox] {
  margin: 1rem;
}
.flex-together a {
  margin-left: 1ch;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input {
  box-shadow: none;
  border: 0px solid transparent;
}

a, h3.hyperlink {
  text-decoration: none;
  color: var(--palette-text-green);
  margin-left: 1ch;
  font-weight: 400;
}

a, h3.hyperlink:hover {
  cursor: pointer;
}

h3, a, label {
  font-family: var(--fs-poppins-200);
}

.f-26 {
  font-size: 26px;
}

.f-16 {
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}

.f-36 {
  font-size: 36px;
}

.f-48 {
  font-size: 48px;
}

.f-12 {
  font-size: 12px;
}

.margin-auto {
  margin: auto;
}/*# sourceMappingURL=global.css.map */